body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.slider {
  position: relative;
  bottom: 50px;
  height: 50px;
}
.rangeslider{
  height: 50px;
}

.wsdm-tooltip {
  display: none;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  pointer-events: none;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.wsdm-tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgba(255, 255, 255, 0.95);
}

.MainContainer2{
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr;
}
.MainContainer{
  display: grid;
  grid-template-columns: 100%;
}

.GeographyContainer {
  text-align: left;
}
.newsImage{
  float:left;
}

.newsText{
  height: 40px;
}

.chart1{
  display: inline-block;
  width: 300;
}
.chart2{
  display: inline-block;
  width: 300;
}
.chart3{
  display: inline-block;
  width: 275;
}
.chart4{
  display: inline-block;
  width: 275;
}
.chart5{
  display: inline-block;
  width: 275;
}

.Graphs2{
  display: grid;
  grid-template-columns: 25% 25% 25% 55%;
}

.cheatChart{
  max-height: 300;
  margin-top: -50;
}

