body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.newsContainer {
  width: 20vw;
  height: 20vh;
position: absolute;
left: 12vw;
top: 40vh;
}
.mapContainer {
  position: relative;
  left: -200px;
}